.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background:white;
  }

  .wrap-login {
    width: 70%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     padding: 4%; 
    top: 5rem;
    position: absolute;
    left: 15%;
    height:70%;
  }
  
.button{
    width: 100%;
    border-radius: 0px;
    background: #10cc10;
}
  