.divider {
    display: flex;
  }
.divider::after {
  content: "";
  flex: 1;
}
.divider::before{
      content: "";
      flex: 1;
}

.donotcross {
    overflow: hidden;
    align-items: center;
    background: hsl(50, 100%, 50%);
    color: black;
    height: 2em;
    line-height: 2em;
}
.donotcross::before {
      background: white;
      padding: 50px 0;
      height: 0;
      transform: rotate(45deg);
    }  

    .donotcross::after {
        background: white;
        padding: 50px 0;
        height: 0;
        transform: rotate(45deg);
      }  
      