.dashboard-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    display:inline-block;
    margin-left:5%;
    background: white;
    position: relative;
    top: 5rem;
  }
  
  .dashboard-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .div-container {
    padding: 2px 16px;
  }
  .dashboard-card>.title{
    float:left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15pt;
    display:block;
    position: relative;
    font-weight: bold;
    color:rgb(204, 198, 198);
    margin-left:4%;
  }
  img{
      width:100%;
  }  